/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/***** CSS properties for form layout *****/
.form_body form
{
    margin-top: 25px;
}

input[type="text"], input[type="password"]
{
    height: 30px;
}

.top-marge-button
{
    margin-top: 10px;
}


/***** CSS properties for class absentees page *****/
.anim
{
    -moz-text-shadow: 0 0 1px #000000 inset;
    -webkit-text-shadow: 0 0 1px #000000 inset;
    text-shadow: 1px 1px 0px #000000;

    box-shadow: 10px 10px 5px #808080;

	-webkit-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}

.anim:active
{
    -moz-text-shadow: 0 0 1px #000000 inset;
    -webkit-text-shadow: 0 0 1px #000000 inset;
    text-shadow: 1px 1px 0px #000000;

    box-shadow: 7px 7px 5px #808080;

	-webkit-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}

.anim:hover
{
	text-shadow: 1px 1px 0px #808080;
}

.student
{
    height: 50px;
    width: 100%;
    text-align: left;
    font-size: 22px;
    margin: 5px;
}

.student_name
{
    display: inline-block;
    text-align: left;
    width: 50%;
}

.student_group
{
    display: inline-block;
    text-align: right;
    width: 50%;
}