/* Move down content because we have a fixed navbar that is 50px tall */

body
{
  padding-top: 50px;
  padding-bottom: 20px;
}

/***** CSS properties for form layout *****/
.form-body
{
    margin-top: 25px;
}

.form-body input[type="text"], .form-body input[type="password"], .form-body input[type="email"]
{
    height: 34px;
}

.form-body label
{
    margin-top: 7px;
}

.top-marge-button
{
    margin-top: 10px;
}

button
{
    margin: 10px;
}

/***** CSS properties for class absentees page *****/
.student
{
    width: 100%;
}

.student p
{
    margin: 0px;
    padding: 0px;
}

.student:hover
{
    text-shadow: 1px 1px 0px #808080;
}

.student_name
{
    display: inline-block;
    text-align: left;
    width: 50%;
}

.student_group
{
    display: inline-block;
    text-align: right;
    width: 50%;
}

#students_list
{
    margin-left: 0;
    padding-left: 0;
}

#students_list div
{
    height: 10px;
}

#students_list input[type="checkbox"]
{
    display: none;
}

/***** CSS properties for class_today page *****/

.hours_boxes
{
    width: 100%;
}

.hours_boxes:hover, .hours_boxes:active, .hours_boxes:focus
{
  cursor:auto;
  outline: 0;
}

.class_boxes
{
    margin-top:15px;
    width:100%;
}

.class_boxes:hover
{
    text-shadow: 1px 1px 0px #808080;
}

/***** CSS properties for class_week page *****/

.day_button
{
    font-size:17px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.day_button:hover
{
    text-shadow: 1px 1px 0px #808080;
}

.class_boxes2
{
	width : 100%;
	white-space: normal;
}

.class_boxes2:hover
{
    text-shadow: 1px 1px 0px #808080;
}

/***** CSS properties for members administration pages *****/
#members_table td,  #members_table th, #absentees_table td, #absentees_table th
{
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

.table .dark
{
    background-color: #EDEDED;
}

.table button
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#search_member
{
    padding-bottom: 20px;
    text-align: center;
}

@media (max-width: 1200px)
{
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse
    {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse
    {
        display: none!important;
    }

    .navbar-collapse.collapse.in
    {
        display: block!important;
    }

    .navbar-nav
    {
        float: none!important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li
    {
        float: none;
    }

    .navbar-nav>li>a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

dt
{
    margin-top: 7px;
}

dd
{
    margin-bottom: 7px;
}