/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

form
{
    margin-top: 25px;
}

input[type="text"]
{
    height: 30px;
}

button
{
    margin-top: 10px;
}
