{% extends 'base.html' %}

{% block title %}{{ super() }} > Administration > Absentees{% endblock %}

{% block below_menubar %}
    <div class="container">
        <h1 class="col-md-12">Absentees justifications</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Row for the search form -->
            <div class="row" id="search_member">
                <form method="post" action="/admin_absentees" class="form-body">
                    <div class="form-group">
                        <label for="date" class="col-md-2 col-xs-12">Date</label>
                        <input type="date" name="date" id="date" class="col-md-2 col-xs-12"/>
                        <label for="class_title" class="col-md-2 col-xs-12">Class title</label>
                        <input type="text" name="class_title" id="class_title" class="col-md-2 col-xs-12" />
                        <label for="student_name" class="col-md-2 col-xs-12">Student name</label>
                        <input type="text" name="student_name" id="student_name" class="col-md-2 col-xs-12" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>

            <div class="row">

            </div>

            <!-- Row for the accounts table -->
            <div class="row">
                <div class="table-responsive">
                    <table id="absentees_table" class="table">
                        <tr>
                            <th>Date</th>
                            <th>Class</th>
                            <th>Start hour</th>
                            <th>End hour</th>
                            <th>Teacher</th>
                            <th>Student</th>
                            <th>Student group</th>
                            <th>Justified</th>
                            <th></th>
                        </tr>

                        {% for abs in absentees %}
                        <tr class="{{loop.cycle('dark', 'light')}}">
                            <td>{{abs.class_date}}</td>
                            <td>{{abs.class_title}}</td>
                            <td>{{abs.start_hour}}</td>
                            <td>{{abs.end_hour}}</td>
                            <td>{{abs.teacher_name}}</td>
                            <td>{{abs.student_name}}</td>
                            <td>{{abs.student_group}}</td>
                            <td>{{abs.justification_bool}}</td>
                            <td>
                                <a href="/show_absentee?id={{abs.key().id()}}">
                                    <button type="button" class="btn btn-default">
                                        Consult
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}