{% extends 'base.html' %}

{% block below_menubar %}
    <div class="container">
        <h1 class="col-md-12">Administration</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                    <div class="col-md-4"></div>
                    <a href="/admin_members"><button type="button" class="btn btn-default col-xs-12 col-sm-12 col-md-4">Members administration</button></a>
                    <div class="col-md-4"></div>
            </div>
            <div class="row">
                    <div class="col-md-4"></div>
                    <a href="/admin_absentees"><button type="button" class="btn btn-default col-xs-12 col-sm-12 col-md-4">Absentees justifications</button></a>
                    <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}