<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PWeb Project">
        <meta name="author" content="Frogidel">

        <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

        <title>Boostrap themed project Home</title>

        <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


        <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

        <!-- Custom styles for this template -->
        <link href="stylesheets/jumbotron.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {# All menubar stuff are in the following files: #}
        {% include 'menubar.html' %}

        {% block below_menubar %}
        {% endblock %}

        <div class="container">

            {% block body %}
            {% endblock %}

            <hr>

            {% include 'footer.html' %}
        </div> <!-- /container -->


        {# Bootstrap core JavaScript
        ================================================== -->
        Placed at the end of the document so the pages load faster
        Warning: JQuery 2.1.0 is not compatible with IE < 9
        Latest compiled and minified JavaScript #}

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    </body>
</html>
