<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PWeb Project">
        <meta name="author" content="Frogidel">

        <link rel="icon" href="favicon.ico">

        <title>Absentees Blackboard</title>

        {# Bootstrap core CSS #}
        {# Latest compiled and minified CSS #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        {# Optional theme #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


        {# Custom styles for our template #}
        <link href="stylesheets/jumbotron.css" rel="stylesheet">

        {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {# Additional CSS #}
        {% block more_css %}
        {% endblock %}
    </head>
    <body>
        {# Accessibility stuff: http://getbootstrap.com/getting-started/#accessibility #}
        <a href="#content" class="sr-only">Skip to main content</a>

        {# All menubar stuff are in the following files: #}
        {% include 'menubar.html' %}

        {% block below_menubar %}
        {% endblock %}

        <div class="container">

            {% block body %}
            {% endblock %}

            <hr>

            {% include 'footer.html' %}
        </div> <!-- /container -->


        {# Bootstrap core JavaScript
        ================================================== -->
        Placed at the end of the document so the pages load faster
        Warning: JQuery 2.1.0 is not compatible with IE < 9
        Latest compiled and minified JavaScript #}

        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% block more_js %}
        {% endblock %}
    </body>
</html>
