{% extends 'base.html' %}

{% block title %}{{ super() }} > Weekly Schedule{% endblock %}

{% block below_menubar %}
        {# Main jumbotron (big-ass banner with text in it) #}
        <div id="background" class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Weekly Schedule</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-xs-offset-2">
                        <h2>From {{ first_day.strftime("%A %d %B") }} to {{ last_day.strftime("%A %d %B") }}</h2>
                    </div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <p>
                        <a href="?date={{ previous_week.strftime("%d/%m/%Y") }}">
                            <span class="glyphicon glyphicon-backward"></span> Previous week
                        </a>
                    </p>
                </div>

                <div class="col-md-4">
                    {# Empty, only used for spacing. #}
                 </div>

                <div class="col-md-4 col-xs-6">
                    <a href="?date={{ next_week.strftime("%d/%m/%Y") }}">
                        <p class="pull-right">Next week <span class="glyphicon glyphicon-forward"></span></p>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}

{% block body %}
    {% set n ={'0':'Monday','1':'Tuesday','2':'Wednesday','3':'Thursday','4':'Friday','5':'Saturday','6':'Sunday'}%}
    {% for d in range(0,6) %}
        {% set day_selected = days[d]%}
        <div class="col-md-2">
            <h4 class="class_boxes2" >
                {{n[d|string]}}
            </h4>
            {% for i in range(0,day_selected|length ) %}
                {% set box_size = ( ( (day_selected[i].endHour.split(':',1)[0]|int) - (day_selected[i].startHour.split(':',1)[0]|int) )*60 + (day_selected[i].endHour.split(':',1)[1]|int)- (day_selected[i].startHour.split(':',1)[1]|int) )*1.5 %}
                {% if i>0 %}
                    {% set where_to_place = (((day_selected[i].startHour.split(':',1)[0]|int)-(day_selected[i-1].endHour.split(':',1)[0]|int))*60 + (day_selected[i].startHour.split(':',1)[1]|int))*1.5 +5 %}
                {% else %}
                    {% set where_to_place = (((day_selected[i].startHour.split(':',1)[0]|int)-8)*60 + (day_selected[i].startHour.split(':',1)[1]|int))*1.5 +5 %}
                {% endif %}
                {% if not(day_selected[i].subject == "None") %}
                    {% set color_style ="btn-info" %}
                    {% if day_selected[i].subject.split(' ',1)[0] == "TP" %}
                        {%set color_style ="btn-primary"%}
                    {% endif %}
                    {% if day_selected[i].subject.split(' ',1)[0] == "CM" %}
                        {%set color_style ="btn-warning"%}
                    {% endif %}
                    {% if day_selected[i].subject.split(' ',1)[0] == "TD" %}
                        {%set color_style ="btn-success"%}
                    {% endif %}
                    {% if day_selected[i].subject.split(' ',1)[0] == "Exam"%}
                        {% set color_style ="btn-danger"%}
                    {% endif %}
                    <a name="class_box" class="class_boxes2 btn {{color_style}}" style="height:{{box_size-5}}px; margin-top:{{where_to_place}}px" role="button">
                        <h5 class="text-left">
                             {{day_selected[i].startHour}} to {{day_selected[i].endHour}}
                        </h5>
                        <hr style="margin:0px;padding:0px;">
                        <h5 class="text-left">
                            {{day_selected[i].subject}}
                        </h5>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="row"></div>
         <script type="text/javascript">
            <!--
            var allMargin = new Array();

            window.onload=function(){
                var class_boxes = document.getElementsByName("class_box");
                for(var i=0, len=class_boxes.length;i < len; i++){
                    allMargin[i] = class_boxes[i].style.marginTop;
                    }
                if (document.body)
                    { var win_width = (document.body.clientWidth);}
                else
                    { var win_width = (window.innerWidth); }
                if(win_width<975){
                    for(var i=0, len=class_boxes.length;i < len; i++){
                        class_boxes[i].style.marginTop = 5 +'px';
                        }
                    }
            };

            window.onresize = function(event) {
                if (document.body)
                    { var win_width = (document.body.clientWidth); }
                else
                    {  var win_width = (window.innerWidth);  }
                var class_boxes = document.getElementsByName("class_box");
                if(win_width>975){
                    for(var i=0, len=class_boxes.length;i < len; i++){
                       class_boxes[i].style.marginTop = allMargin[i];
                        }
                    }
                else{
                    for(var i=0, len=class_boxes.length;i < len; i++){
                        class_boxes[i].style.marginTop = 5 +'px';
                        }
                    }
            };
            -->
        </script>
{% endblock %}
