{% extends 'base.html' %}

{% block below_menubar %}
        {# Main jumbotron (big-ass banner with text in it) #}
        <div id="background" class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Today's classes :</h1>
                    </div>
                    <div class="col-md-10 col-xs-offset-2">
                        <h2>{{day}}</h2>
                    </div>
                    <div class="col-md-10 col-xs-offset-2">
                        <h1>{{hour}}</h1>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block body %}
{% for i in range(0,classes|length ) %}
               <div class="row">
                    <div class="col-xs-6 col-xs-offset-2">
                        <button class="btn btn-default hours_boxes">{{classes[i].start_time}}</button>
                    </div>
                </div>

                <div class="row">
                     <div class="col-sm-4 col-xs-offset-2">
                        {% set box_size = ((classes[i].end_time.split('h',1)[0]|int) - (classes[i].start_time.split('h',1)[0]|int))*75 -((classes[i].start_time.split('h',1)[1]|int)*12)/10+ ((classes[i].end_time.split('h',1)[1]|int)*12)/10%}
                        {% if not(classes[i].class_name == "None")%}
                            {%set color_style ="btn-info"%}
                            {% if classes[i].class_name.split(' ',1)[0] == "TP"%}{%set color_style ="btn-primary"%}{%endif%}
                            {% if classes[i].class_name.split(' ',1)[0] == "CM"%}{%set color_style ="btn-warning"%}{%endif%}
                            {% if classes[i].class_name.split(' ',1)[0] == "TD"%}{%set color_style ="btn-success"%}{%endif%}
                            {% if classes[i].class_name.split(' ',1)[0] == "Exam"%}{%set color_style ="btn-danger"%}{%endif%}
                                <a class="class_boxes btn {{color_style}}" style="height:{{box_size}}px;" role="button">
                                    <h4 class="text-left"> {{classes[i].class_name}}</h4>

                                    {% for g in classes[i].group %}
                                    <h5 class="text-left">
                                        {{g}}
                                    </h5>
                                    {% endfor %}

                                </a>
                        {%else%}
                            {% for j in range(0,(box_size/20)|int) %}
                                <br>
                            {% endfor %}
                         {% endif %}
                            <br>
                         <br>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                    <div class="col-xs-6 col-xs-offset-2">
                        <button class="btn btn-default hours_boxes">{{classes[classes|length-1].end_time}}</button>
                    </div>
                 </div>

{% endblock %}
