{% extends 'base.html' %}

{% block below_menubar %}
        {# Main jumbotron (big-ass banner with text in it) #}
        <div id="background" class="jumbotron">

            {% for i in range(0,classes|length) %}
               <div class="row">
                    <div class="col-md-1 col-xs-offset-3">
                        <p class="anim btn-info">{{classes[i].start_time}}<p>
                    </div>
                     <div class="col-md-3">
                        {% set box_size = ((classes[i].end_time.split('h',1)[0]|int) - (classes[i].start_time.split('h',1)[0]|int))*75 -((classes[i].start_time.split('h',1)[1]|int)*17)/10+ ((classes[i].end_time.split('h',1)[1]|int)*17)/10%}
                        {% if not(classes[i].class_name == "None")%}
                            {%set color_style ="btn-info"%}
                            {% if classes[i].class_name.split(' ',1)[0] == "TP"%}{%set color_style ="btn-primary"%}{%endif%}
                            {% if classes[i].class_name.split(' ',1)[0] == "CM"%}{%set color_style ="btn-warning"%}{%endif%}
                            {% if classes[i].class_name.split(' ',1)[0] == "TD"%}{%set color_style ="btn-success"%}{%endif%}
                            {% if classes[i].class_name.split(' ',1)[0] == "Exam"%}{%set color_style ="btn-danger"%}{%endif%}
                                <a class="anim class_today_boxes btn {{color_style}}" style="height:{{box_size}}px;" role="button">
                                    <h4 class="text-left"> {{classes[i].class_name}}</h4>
                                    <h5 class="text-left">
                                    {% for g in classes[i].group %}
                                        {{g}}
                                    {% endfor %}
                                    </h5>
                                </a>
                        {%else%}
                            {% for j in range(0,(box_size/20)|int) %}
                                <br>
                            {% endfor %}
                         {% endif %}
                            <br>
                         <br>
                    </div>
                    </div>
            {% endfor %}
            <div class="row">
                    <div class="col-md-1 col-xs-offset-3">
                        <p class="anim btn-info class_today_boxes">{{classes[5].end_time}}<p>
                    </div>
                 </div>
            </div>
{% endblock %}

{% block body %}


{% endblock %}
