{% extends 'base.html' %}

{% block below_menubar %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Current session :</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left">{{class_name}}</h2>
                <p class="text-left">{{start_time}} - {{end_time}}<br />
                {{teacher_name}}<br />
                {{room}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-xs-12">
    <ul>
        {% for student in students %}
        <div class="row">
        <li id="{{student.name}}" class="anim student btn btn-success btn-lg" role="button"
            onclick="change('{{student.name}}');">
            <p class="student_name">{{student.name}}</p>
            <p class="student_group">{{student.group}}</p>
        </li>
        </div>
        {% endfor %}

        <script language="javascript">
            function change(str) {
                var link=document.getElementById(str);
                var hisclass= link.className;

                if (hisclass =="anim student btn btn-danger btn-lg") {
                    link.className='anim student btn btn-success btn-lg';
                }

                else {
                    link.className='anim student btn btn-danger btn-lg';
                }
            }
        </script>
    </ul>
    </div>
</div>
{% endblock %}
