{% extends 'base.html' %}

{% block below_menubar %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Current class:</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left">{{class_name}}</h2>
                <p class="text-left">{{start_time}} - {{end_time}}<br />
                {{teacher_name}}<br />
                {{room}}</p>
                <p>
                {% for group in groups %}
                    {{group}}<br />
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <form method="post" action="/class_absentees">
        <div class="form-group">
            <ul id="students_list">
                {% for student in students %}
                    <li id="{{student.name}}button" class="anim student btn" role="button"
                        onclick="change('{{student.name}}');">
                        <input type="checkbox" id="{{student.name}}box" />
                        <p class="student_name">{{student.name}}</p>
                        <p class="student_group">{{student.group}}</p>
                    </li>
                {% endfor %}

                <script language="javascript">
                    function change(str) {
                        var link=document.getElementById(str + "button");
                        var checkbox = document.getElementById(str + "box")
                        var hisclass= link.className;

                        if (hisclass =="anim student btn btn-danger") {
                            link.className='anim student btn';
                            checkbox.checked = false;
                        }

                        else {
                            link.className='anim student btn btn-danger';
                            checkbox.checked = true;
                        }
                    }
                </script>
            </ul>
        </div>

        <div class="form-group">
            <button class="form-control">OK</button>
        </div>
    </form>
</div>
{% endblock %}
