{% extends 'base.html' %}

{% block below_menubar %}
            <div class="container">
                <h1 class="col-md-12">Find a group</h1>
            </div>
{% endblock %}

{% block body %}
        <div class="container">
            <form method="post" action="/students_list" class="row col-sm-offset-2 col-sm-8">
                <div class="row">
                    <label for="group_name" class="col-sm-2">Group name</label>
                    <input type="text" placeholder="Type here the group name (2A IL for example)" name="group_name" id="group_name" class="col-sm-10">
                </div>
                <div class="row">
                    <button class="btn btn-primary col-sm-2 pull-right">Search</button>
                </div>
            </form>
        </div>

    <script type="text/javascript">
        function check_size() {
            if($(window).width() < 780)
            {
                $("label, button[class*='btn-primary'], input").addClass("form-control");
            }

            else
            {
                $("label, button[class*='btn-primary'], input").removeClass("form-control");
            }
        }

        window.onresize = function(event) {
            check_size();
        }

        document.onready = function() {
            check_size();
        };

    </script>
{% endblock %}