{% extends 'base.html' %}


{% block below_menubar %}
        {# Main jumbotron (big-ass banner with text in it) #}
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome!</h1>
                <p>{{ name|title }}</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                    {% if isteacher %}
                        <p>You are a teacher</p>
                    {% else%}
                        {% if absenteesU|length == 0%}
                                <p>Congratulation, you have no unjustified absentees !</p>
                            {%else%}
                                <p>You have {{absenteesU|length}} unjustified absentees.</p>
                            {%endif%}
                        <br>
                        {% if absenteesJ|length == 0%}
                            <p>You have no justified absentees !</p>
                        {%else%}
                            <p>You have {{absenteesJ|length}} justified absentees.</p>
                        {%endif%}
                        {% if absenteesU|length != 0 or absenteesJ|length != 0%}
                            <form action="" method="post">
                                   <button name="show_abs" class="btn btn-primary" value="upvote">Details &raquo;</button>
                            <form>
                        {%endif%}
                    {%endif%}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        {% if lesson == None %}
                         <h4>Your current lesson is :</h4>
                        <button type="button" class="class_boxes2 btn btn-default btn-lg" disabled="disabled" style="width:100%;"><h4>It seems you have nothing to do right now</h4></button>
                        {%else%}
                          <h4>Your current lesson is :</h4>
                        {% set color_style ="btn-info" %}
                    {% if lesson.subject.split(' ',1)[0] == "TP" %}
                        {%set color_style ="btn-primary"%}
                    {% endif %}
                    {% if lesson.subject.split(' ',1)[0] == "CM" %}
                        {%set color_style ="btn-warning"%}
                    {% endif %}
                    {% if lesson.subject.split(' ',1)[0] == "TD" %}
                        {%set color_style ="btn-success"%}
                    {% endif %}
                    {% if lesson.subject.split(' ',1)[0] == "Examen"%}
                        {% set color_style ="btn-danger"%}
                    {% endif %}
                          <a name="class_box" class="class_boxes2 btn {{color_style}}" style="height:100%; " role="button">
                        <h5 class="text-left">
                             {{lesson.startHour}} to {{lesson.endHour}}
                        </h5>
                        <hr style="margin:0;padding:0;">

                        <h5 class="text-left" >
                            {{lesson.subject}}
                        </h5>
                    </a>
                        {%endif%}
                    </div>
                </div>


            </div>
        </div>
{% endblock %}

{% block body %}
            <div class="row">
                <div class="col-md-6">
                    <h2>Is there a backdoor?</h2>
                    <p>This is secret information!</p>
                </div>
                <div class="col-md-6">
                    <h2>TELECOM Nancy</h2>
                    <p>
                        TELECOM Nancy is a french engineering school, specialized in IT. You can find more about
                        it by clicking on the button below.
                    </p>
                    <p><a class="btn btn-default" href="http://www.telecomnancy.eu" role="button">View details &raquo;</a></p>
                </div>
            </div>
{% endblock %}