{% extends 'base.html' %}

{% block below_menubar %}
    <div class="container">
        <h1>Login</h1>
    </div>
{% endblock %}

{% block body %}
    {% if error_message %}
    <div class="alert alert-danger">
        <p><strong>Error: </strong> {{error_message}}</p>
    </div>
    {% endif %}

    <div class="container">
        <div class="col-md-2"></div>

        <div class="col-md-8 col-xs-12 col-sm-12">
            <form method="post" action="/login" id="login-form" class="form-body">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" class="form-control" required />
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required />
                <button class="btn btn-primary col-sm-2 col-xs-12 pull-right top-marge-button">Log in</button>
            </form>
         </div>

        <div class="col-md-2"></div>

    </div>
{% endblock %}