
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Absentees Blackboard</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        {% if pageName == "home" %}
                        <li class="active"><a href="/">Home</a></li>
                        {% else  %}
                        <li><a href="/">Home</a></li>
                        {% endif %}

                        {% if pageName == "students_list" %}
                        <li class="active"><a href="/students_list">Students list</a></li>
                        {% else  %}
                        <li><a href="/students_list">Students list</a></li>
                        {% endif %}

                        {% if is_teacher %}
                            {% if pageName == "class_absentees" %}
                            <li class="active"><a href="/class_absentees">Current Session</a></li>
                            {% else  %}
                            <li><a href="/class_absentees">Current Session</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>

                    {# Login form down here #}
                    <ul class="nav navbar-nav pull-right">
                            {% if connected %}
                                <li><a href="#">Welcome {{username}}</a></li>
                                <li><a href="/logout">Log out</a></li>

                            {% else %}
                                {% if pageName == "login" %}
                                <li class="active"><a href="/login">Log in</a></li>
                                {% else %}
                                <li><a href="/login">Log in</a></li>
                                {% endif %}

                                {% if pageName == "signup" %}
                                <li class="active"><a href="/signup">Sign up</a></li>
                                {% else %}
                                <li><a href="/signup">Sign up</a></li>
                                {% endif %}
                            {% endif %}
                    </ul>
                </div><!--/.navbar-collapse -->

            </div>
        </div>